/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family: 'Space Mono', monospace;
    background-color:  hsl(185, 41%, 84%);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title img{
    margin-bottom: 80px;
}

.tips{
    background-color: hsl(183, 100%, 15%);
    margin-top: 10px;
    padding: 5px;
    width: 80px;
    border-radius: 5px;
}

.tips:hover{
    background-color: hsl(172, 67%, 45%);
}

#custom-input{
    margin-top: 10px;
    padding:5px;
    width: 80px;
    border-radius: 10%;
}

#select-tip{
    margin-bottom: 0;
}

#content{
    background-color: hsl(0, 0%, 100%);
    padding: 40px;
    border-radius: 5px;
}

#second-col{
    background-color: hsl(183, 100%, 15%);
    color: white;
    border-radius: 5%;
}

#second-col p{
    margin-top: 30px;
}

.str{
    font-size: 18px;
}
#reset-button{
    background-color:  hsl(172, 67%, 45%);
    font-weight: bold;
    width: 100%;
    /* margin-top: 15px; */
}
